.relatedTermsCategory {
    border-radius: 50px;
    padding: 3px;
    font-weight: 700;
    font-size: small;
}
.relatedTermsTitle {
    color: rgba(1, 1, 1, 1);
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
}
.relatedTermsBox {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 0px;
}
.toggleRelatedTerms {
    width: 100%;
    background-color: white !important;
    color: #05668d !important;
    border: 1mm solid #05668d !important;
    text-align: center !important;
}
.searchSelectedTerms {
    width: 500px;
}

#mobileRelatedTerms {
    display: none;
}

#desktopRelatedTerms {
    display: block;
}
@media only screen and (max-width: $customBreakpoint) {
    .relatedTermsBox {
        width: 100%;
        margin-bottom: 10px;
        padding-top: 0%;
    }
    .searchSelectedTerms {
        width: 100%;
        font-size: 12px !important;
    }
    #mobileRelatedTerms {
        display: block;
    }

    #desktopRelatedTerms {
        display: none;
    }
}
