[data-theme][data-theme="light"] {
    --primary-primary-main: #05668d;
    --border-grey: #cccccc;
    --primary-primary-transparent-background: #e0f6fa80;
}

// global styles
.seperator {
    width: 100%;
    min-height: 1px;
    background: var(--border-grey);
}

@import "./components/BaseMenu/BaseMenu.scss";
@import "./components/Footer/Footer.scss";
@import "./components/ResourceType/Metadata/Metadata.scss";
@import "./components/ResourceType/Abstract/Abstract.scss";
@import "./views/Start/Start.scss";
@import "./views/Start/Demonstrator/Demonstrator.scss";
@import "./components/ResourceType/ActionButton/ActionButton.scss";
@import "./components/ResultsNavigation/ResultsNavigation.scss";
@import "./components/ResourceType/RelatedIdentifier/RelatedIdentifier.scss";
@import "./views/Search/Search.scss";
@import "./views/Search/SearchResult/SearchResult.scss";
@import "./views/FourOFour/FourOFour.scss";
@import "./views/Result/Result.scss";
@import "./components/Header/Header.scss";
@import "./views/Search/Facets/SpatialCoverageFacet/PopupOverlay.scss";
@import "./views/Search/Facets/RelatedTerms/relatedTerms.scss";
@import "./components/Questionmark.scss";
